{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Lista Zamówień</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Data</th>
                <th>Film</th>
                <th>Uzytkownik</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('purchase_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    {{ (entity.product.name)|default('-usunięty-')~' ~ '~entity.product.price|default('0')~'$' }}
                </td>
                <td>
                    {{ (entity.user.username)|default('-usunięty-') }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
