{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Lista filmow</h1>

   <div class="row">

        {% for entity in entities %}
        <div class="col-md-4">
               {#} <td><a href="{{ path('_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>#}
                <h2>{{ entity.name }}</h2>
                <div><img style="height:100px"src="{{asset(entity.photo.path )}}"></div>
                <p><strong>Opis:</strong>

                    {{ entity.description }}</p>
                <p><strong>Aktorzy:</strong> {{ entity.actors }}</p>
                <p><strong>Cena:</strong> {{ entity.price }}</p>
                <p>
                    <a class="btn btn-default" href="{{ path('purchase_new') }}" role="button">View details &raquo;</a>
                </p>
                {% if is_granted("ROLE_USER") %}
                <ul>
                    <li>
                        <a href="{{ path('_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                {% endif %}
        </div>
        {% if loop.index is divisibleby(3) %}
        </div>

        <div class="row">

        {% endif %}
        {% endfor %}


        <ul>
        <li>
            <a href="{{ path('_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
